* {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    font-family: 'Inter';
}

header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0.8rem;
    background-color: #F5F5F5;
    -webkit-box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.48); 
    box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.15);
}

.logo {
    font-weight: bold;
    font-size: 1.8rem;
    margin-left: 10px;
    text-shadow: 0px 2px 3px rgba(15,7,4,0.4);
}

.input__search {
    display: flex;
    flex-direction: row;
}

input {
    background-color: #F5F5F5;
    border: 1px solid #828282;
    border-radius: 4px;
    width: 30vw;
    height: 2.2vh;
    font-size: 0.4rem;
    padding-left: 0.4rem;
    margin: 0.5vh;
}

.input__search button {
    width: 30vw;
    height: 2.5vh;
    border-radius: 4px;
    border: none;
    background-color: #333333;
    color: #ffffff;
    font-weight: 500;
    margin-top: 0.5vh;
    margin-right: 10vw;
    font-size: 0.5rem;
}

.menu__nav ul{
    display: flex;
    margin: 0.8rem 0rem 0rem 0.6rem;

}

.menu__nav ul li {
    font-size: 0.6rem;
    font-weight: bold;
    color: #828282;
} 

.vitrine {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #F5F5F5;
    -webkit-box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.48); 
    box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.15);
}

.card__product {
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    margin: 15px;
    border: 2px solid #F5F5F5;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.28); 
    box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.12);
}

.card__image {
    background-color: #F5F5F5;
}

.card__content {
    width: 60vw;
}

.card__tag {
    background-color: #2E245E;
    width: 20vw;
    margin: 15px 0 0 15px;
}

.card__tag span {
    color: #ffffff;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    padding: 4px 0 4px 0;
}

.card__info {
    padding: 20px 15px;
}

.card__info h3 {
    color: #333333;
    font-size: 1.1rem;
}

figcaption {
    display: none;
}

.card__info p {
    color: #828282;
    font-size: 0.7rem;
    margin: 3vw 0vw 3vw 0vw;
}

.card__price {
    color: #2E245E;
    font-size: 0.8rem;
    font-weight: 600;
}

.card__info button {
    font-size: 0.8rem;
    color: #828282;
    background-color: #ffffff;
    border: none;
    display: flex;
    text-decoration: underline;
    margin-top: 15px;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.cart__title {
    background-color: #6B54DE;
    color: #ffffff;
    width: 80vw;
    height: 7vh;
    display: flex;
    justify-content: center;
}

.cart__title p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 700;
}

.cart__content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 40vh;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
    align-content: center;  
}

.cart__content h3 {
    color: #333333;
    width: auto;
}

.cart__content p {
    color: #828282;
    width: auto;
}

